<nav class="humberger__menu__nav mobile-menu">
    <ul>
        <li class="active"><a href="{{ path('accueil') }}">Home</a> </li>
        <li class="active"><a href="livre"> livre </a> </li>
        <li><a href="#">Pages</a>
            <ul class="header__menu__dropdown">
                <li><a href="{{ asset ('shop-details.html') }}">Shop Details</a></li>
                <li><a href="{{ asset ('shoping-cart.html')}}">Shoping Cart</a></li>
                <li><a href="{{ asset('checkout.html') }}">Check Out</a></li>
                <li><a href="{{ asset('blog-details.html') }}">Blog Details</a></li>
            </ul>
        </li>
        <li><a href="{{ path('contact') }}">Contact</a></li>
    </ul>
</nav>